<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emy_nomarl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,50}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>emy_nomarl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{71,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,48}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>emy_nomarl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{71,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,48}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>emy_nomarl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{71,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,48}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>emy_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,69},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>emy_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{65,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>emy_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>emy_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,136},{65,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emy.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3d148a1cf95f533427d1133c6df20dc$</string>
            <key>textureFileName</key>
            <string>emy.png</string>
        </dict>
    </dict>
</plist>
